/* local font hosting */
@font-face {
  font-display: swap;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/vt323-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/vt323-v17-latin-regular.ttf") format("truetype");
}

html {
  font-family: "VT323", monospace;
}

/* variables */
:root {
  --accent-100: #ff0000;
  --bg-100: #1a1a1a;
  --bg-200: #292929;
  --bg-300: #404040;
  --primary-100: #00ff00;
  --primary-200: #00df00;
  --primary-300: #009700;
  --txt-100: #ffffff;
  --txt-200: #e0e0e0;
}
