/* local font hosting */
@font-face {
  font-display: swap;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/vt323-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/vt323-v17-latin-regular.ttf") format("truetype");
}

html {
  color: var(--txt-100);
  font-family: "VT323", monospace;
}

/* variables */
:root {
  --accent-100: #ff0000;
  --bg-100: #1a1a1a;
  --bg-200: #292929;
  --bg-300: #404040;
  --primary-100: #00ff00;
  --primary-200: #00df00;
  --primary-300: #009700;
  --txt-100: #ffffff;
  --txt-200: #e0e0e0;
}

/* general body styling */
body {
  background: var(--bg-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 26.5625rem;
  margin: 0 auto;
  min-height: 100vh; /* fallback */
  min-height: 100dvh;
  padding: 1.5rem 0;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.header__image {
  width: 3rem;
}

/* generator */
.generator {
  color: var(--txt-200);
  margin-top: 2rem;
  padding: 0rem 1rem;
}

.generator__title {
  font-size: 1.5rem; /* fallback */
  font-size: clamp(1.5rem, 0.13095238095238115rem + 6.095238095238095vw, 2rem);
  margin-bottom: 1.5rem;
}

.generator__title--green {
  color: var(--primary-200);
}

.generator__description {
  font-size: 1rem;
  line-height: 1.4;
}

strong {
  color: var(--txt-100);
}

.generator__controls {
  background: var(--bg-200);
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1.5rem;
}

.generator__control--range {
  margin-bottom: 1rem;
}

.generator__range-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.generator__range-value {
  color: var(--primary-200);
  font-size: 1.2rem;
}

input[type="range"],
input[type="checkbox"] {
  accent-color: var(--primary-200);
}

#generator__range {
  width: 100%;
}

.generator__checkbox {
  margin-bottom: 0.75rem;
}

.generator__checkbox:last-of-type {
  margin: 0;
}

hr {
  background-color: var(--bg-300);
  border: 0;
  height: 1px;
  margin: 1.25rem 0;
}

.generator__password-output {
  align-items: center;
  background: var(--bg-300);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
}

.generator__password {
  color: var(--txt-100);
  letter-spacing: 1px;
}

.generator__copy {
  color: var(--primary-200);
  font-size: 1.25rem;
}

.generator__copy:hover {
  cursor: pointer;
}

.generator__message {
  font-size: 0.75rem;
  margin: 0.5rem 0 0.75rem;
}

.generator__button {
  background: var(--bg-300);
  border-radius: 5px;
  border: 0;
  color: var(--primary-200);
  font-size: 1.15rem;
  letter-spacing: 0.5px;
  padding: 0.75rem;
  transition: color 0.2s;
  width: 100%;
}

.generator__button:hover {
  color: var(--primary-100);
  cursor: pointer;
}

/* footer */
.footer {
  color: var(--txt-200);
  margin-top: 2rem;
  text-align: center;
}

.footer__tagline {
  margin-bottom: 1rem;
}

.footer__link {
  color: var(--primary-200);
  transition: color 0.2s;
}

.footer__link:hover {
  color: var(--primary-100);
}

ion-icon {
  color: var(--txt-200);
  font-size: 1.5rem;
  transition: all 0.2s;
}

ion-icon:hover {
  color: var(--primary-100);
  transform: scale(1.1);
}
